/* reset */
*{
margin:0;
padding:0;
box-sizing:border-box;
}

/* body */
body{
font-family:'Segoe UI', Arial, sans-serif;
background:
linear-gradient(rgba(0,0,0,0.100), rgba(0,0,0,0.100)),
url("https://images.unsplash.com/photo-1758691461990-03b49d969495?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bWVkaWNhbCUyMGFwcG9pbnRtZW50fGVufDB8fDB8fHww");
background-size:cover;
background-position:center;
min-height:100vh;
}

/* navbar */
.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 40px;
background:#0a66c2;
}

/* logo */
.logo{
color:white;
font-size:22px;
font-weight:bold;
}

/* nav links container */
.nav-links{
list-style:none;
display:flex;
align-items:center;
gap:25px;
margin:0;
padding:0;
}

/* links */
.nav-links a{
color:white;
text-decoration:none;
font-weight:500;
font-size:16px;
}

/* hover */
.nav-links a:hover{
color:#dff3ff;
}

/* login box */
.login-box{
width:360px;
margin:120px auto;
background:white;
padding:35px;
border-radius:12px;
box-shadow:0 15px 35px rgba(0,0,0,0.3);
text-align:center;
animation:fadeIn 0.6s ease;
}

/* heading */
.login-box h2{
margin-bottom:20px;
color:#0f6cbd;
}

/* inputs */
.login-box input,
.login-box select{
width:100%;
padding:12px;
margin:12px 0;
border-radius:6px;
border:1px solid #ccc;
font-size:14px;
}

/* button */
.login-box button{
width:100%;
padding:12px;
background:#0f6cbd;
color:white;
border:none;
border-radius:6px;
font-size:16px;
cursor:pointer;
transition:0.3s;
}

.login-box button:hover{
background:#0b5594;
}

/* register link */
.register-link{
margin-top:15px;
}

.register-link p{
margin-bottom:5px;
}

/* animation */
@keyframes fadeIn{
from{
opacity:0;
transform:translateY(30px);
}
to{
opacity:1;
transform:translateY(0);
}
}

.footer{
background:#0a66c2;
color:white;
text-align:center;
padding:15px;
position:fixed;
bottom:0;
width:100%;
}